{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

{% if msg %}
<div class="blue-grey lighten-2 center" id="msg__box">
    {% if msg_type %}
        <span class="col s8 offset-s2 green-text text-darken-4">{{ msg }}</span>
    {% else %}
        <span class="col s8 offset-s2 red-text text-darken-2">{{ msg }}</span>
    {% endif %}
</div>
{% endif %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <section class="row">
            <div class="input-field col s12">
                {{ form.item }}
                <label for="toDoAdd">Item</label>
            </div>
        </section>
        <section class="row">
            <div class="input-field col s10 offset-s1">
                <select class="icons" name="location">
                    <option value="in" data-icon="{% static 'img/home-icon.svg' %}">Interior</option>
                    <option value="out" data-icon="{% static 'img/public-icon.svg' %}">Exterior</option>
                </select>
                <label>Locación</label>
            </div>
        </section>
        <section class="row">
            <div class="col s2 offset-s1 right-align">Cantidad:</div>
            <div class="range-field col s7 offset-s1">
                <input type="range" id="toDoCnt" min="0" max="40" name="cant"/>
            </div>
        </section>
        <section class="row">
            <div class="input-field col s12">
                {{ form.description }}
                <label for="toDoDesc">Descripción adicional</label>
            </div>
        </section>
        <section class="row center">
            <button class="btn waves-effect waves-light">Añadir<i class="material-icons right">playlist_add</i></button>
        </section>
    </form>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/add.js' %}"></script>
{% endblock %}